<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>

</head>
<body>
<h1>Users</h1>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Age</th>
            <th>Name</th>
            <th>LastName</th>

        </tr>
        <tr th:each="user: ${users}">
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getAge()}"></td>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getLastname()}"></td>

            <td><a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a></td>
            <td><form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form></td>
        </tr>
    </table>
    <br/>
    <a href="/new">Create users</a>
</div>
</body>
</html>